h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Historia de Colombia en los últimos 50 años de violencia', 'main.html#page/Historia_de_Colombia_en_los_ultimos_50_anos_de_violencia/')
                    +navTemaItem('2', 'Fundamentación de los acuerdos de paz', 'main.html#page/Fundamentacion_de_los_acuerdos_de_paz/')
                    +navTemaItem('3', 'La importancia de la cultura de Paz', 'main.html#page/La_importancia_de_la_cultura_de_Paz/')