h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 240201526-04. Contribuir con el fortalecimiento de la cultura de paz, a partir de la dignidad humana y las estrategias para la transformación de conflictos.