h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 240201526 - 04 - Contribuir con el Fortalecimiento de la Cultura de paz, a partir de la Dignidad humana y las estrategias para la transformación de conflictos.