.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td Fundación ideas para la paz, 2 de junio de 2016, Explicación de los acuerdos de paz con las FARC [Vídeo] YouTube. 
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=YKmVbr3fRg0", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver

                tr
                    td Seidman, J., (2013). Lecciones del proceso de paz Sudafricano. Revista de información y de debate Pueblos.
                    td Artículo
                    td 
                        a(href="http://www.revistapueblos.org/blog/2013/08/25/lecciones-del-proceso-de-paz-sudafricano/", target="_blank") <span class="fa fa-dowload" aria-hidden="true"></span> Descargar